---
title: Home
layout: default
permalink: /
---
			
<!-- Banner -->
	<section id="banner">
		<header>
			<span id="spanOnBanner1" style="margin-right: 1em;">
				<h2 id="headerOnMainBanner1">Get a free account !&nbsp;&nbsp;</h2>
				<a href="http://arx-prd-liv-rel-adf-wbs-all-pri-grn-fap.azurewebsites.net/wbs/Start" class="button" id="linkOnMainBanner1">SignUp</a>
			</span>
			<span id="spanOnBanner2">			
				<h2 id="headerOnMainBanner2">Have an account already ?&nbsp;&nbsp;</h2>
				<a href="{{"/signin.html" | prepend: site.baseurl }}" class="button" id="linkOnMainBanner2">SignIn</a>
			</span>
		</header>
	</section>

<!-- Highlights -->
	{% include highlight.html %}

<!-- Want an app? -->
	{% include want-an-app.html %}

<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2 class="content-title">InsureTech enabled.</h2>
				<p>For all partners in the insurance industry...</p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="{{"/products/ind-fam.html" | prepend: site.baseurl }}" class="image left"><img src="{{ site.baseurl }}/assets/images/products/individuals.jpg" alt="" /></a>
						<div class="inner">
							<h3 class="custom-margin-bottom">
								<a href="{{"/products/ind-fam.html" | prepend: site.baseurl }} ">Individuals</a>
							</h3>
							<p>Use AllRisX for yourself, your family and friends. Get the best quotes available and start to earn money by using AllRisX !<br><a href="{{"/products/ind-fam.html" | prepend: site.baseurl }} ">More info...</a></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="{{"/products/businesses-corporations.html" | prepend: site.baseurl }} " class="image left"><img src="{{ site.baseurl }}/assets/images/products/corporations.jpg" alt="" /></a>
						<div class="inner">
							<h3 class="custom-margin-bottom">
								<a href="{{"/products/businesses-corporations.html" | prepend: site.baseurl }} ">Corporations</a>
							</h3>
							<p>Keep an eye on all your risks and insurance solutions and cooperate with brokers, agencies and insurance providers.<br><a href="{{"/products/businesses-corporations.html" | prepend: site.baseurl }} ">More info...</a></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="{{"/products/agencies-brokers.html" | prepend: site.baseurl }} " class="image left"><img src="{{ site.baseurl }}/assets/images/products/agencies-brokers.jpg" alt="" /></a>
						<div class="inner">
							<h3 class="custom-margin-bottom">
								<a href="{{"/products/agencies-brokers.html" | prepend: site.baseurl }} ">Agencies and Brokers</a>
							</h3>
							<p>Find new clients, offer them a state of the art insurance portal, premium calculators and forms and keep track of all their insurance data.<br><a href="{{"/products/agencies-brokers.html" | prepend: site.baseurl }} ">More info...</a></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="{{"/products/insurance-companies.html" | prepend: site.baseurl }} " class="image left"><img src="{{ site.baseurl }}/assets/images/products/insure-comp.jpg" alt="" /></a>
						<div class="inner">
							<h3 class="custom-margin-bottom">
								<a href="{{"/products/insurance-companies.html" | prepend: site.baseurl }} ">Insurance Companies</a>
							</h3>
							<p>Provide quote calculators, deliver insurance data to your own sales staff or your agencies and brokers.<br><a href="{{"/products/insurance-companies.html" | prepend: site.baseurl }} ">More info...</a></p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
	
	{% include cta.html %}
