			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="6u">
							<section id="custom-narrow-footer-width">
								<h3>More Information</h3>
								<ul class="links">
									{% assign current = page.url | downcase | split: '/' %}
									<li {% if page.title == "about" %}class="active"{% endif %}>
										<a href="{{ site.baseurl }}/about.html">About Us</a>
									</li>
									<li {% if page.title == "contact" %}class="active"{% endif %}>
										<a href="{{ site.baseurl }}/contact.html">Contact </a>
									</li>
									<li {% if page.title == "Impressum" %}class="active"{% endif %}>
										<a href="{{ site.baseurl }}/impressum.html">Impressum</a>
									</li>
									<li {% if page.title == "privacy" %}class="active"{% endif %}>
										<a href="{{ site.baseurl }}/privacy.html">Privacy</a>
									</li>
									<li {% if page.title == "disclaimer" %}class="active"{% endif %}>
										<a href="{{ site.baseurl }}/disclaimer.html">Disclaimer</a>
									</li>
									<li {% if page.title == "Status" %}class="active"{% endif %}>
										<a href="{{ site.baseurl }}/status.html">Status</a>
									</li>
									<li {% if page.title == "term of use" %}class="active"{% endif %}>
										<a href="{{ site.baseurl }}/term-of-use.html">Term of Use</a>
									</li>
									<li {% if page.title-url == "licenses" %}class="active"{% endif %}>
										<a href="{{ site.baseurl }}/licenses.html">Licenses</a>
									</li>
								</ul>
							</section>
						</div>    
						<section class="4u -2u">
							<h3>Our Address</h3>							
							<address>								
								allrisx.com<br>
								Address Line#1<br>
								Address Line#2<br>
								Address Line#3<br>
								Country
							</address>
						</section>
					</div>
				</div>

				<!-- Icons -->
				<!--
				<ul class="icons">
					<li><a href="#" class="icon fab fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
					<li><a href="#" class="icon fa-youtube" target="_blank"><span class="label">Youtube</span></a></li>
				</ul>-->

				<!-- Copyright -->
					<div class="copyright" style="text-align:center;margin-top: 2em;">
						<ul class="menu">
							<li>&copy;2018 AllRisX. All rights reserved</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
						</ul>
					</div>
				</div>
			</div>

		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery-3.1.1.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js" defer></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js" defer></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js" defer></script>
		<script src="{{ site.baseurl }}/assets/js/init.js" defer></script>
		<script src="{{ site.baseurl }}/assets/js/fontawesome-all.js" defer></script>
		<script src="https://www.google.com/recaptcha/api.js" defer async></script>	
	</body>
</html>