<!DOCTYPE HTML>
<html>
	<head>
		<title>AllRisX - {{ page.title }}</title>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">   
	    <meta http-equiv="Expires" content="0">
		<meta name="expires" content="NEVER">
		<link rel="preload" as="style" href="{{ "/assets/css/skel.css" | prepend: site.baseurl }} "onload="this.rel='stylesheet'" media="screen,print" />
		<link rel="preload" as="style" href="{{ "/assets/css/style.css" | prepend: site.baseurl }} "onload="this.rel='stylesheet'" media="screen,print" />
		<link rel="preload" as="style" href="{{ "/assets/css/style-wide.css" | prepend: site.baseurl }} "onload="this.rel='stylesheet'" media="screen,print" />	
		
		<link rel="preload" as="style" href="{{ "/assets/css/fa-svg-with-js.css" | prepend: site.baseurl }} "onload="this.rel='stylesheet'" media="screen,print" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
		{%  if page.title contains "Home" %}
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/slide/slick.css" media="screen" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/slide/slick-theme.css" media="screen" />	
		{% endif %}	
	</head>	
	<body>		
		<div id="header">
			<h1><a href="{{ site.baseurl }}/" id="logo">						
				<img  id="allrisx-logo" src="{{ site.baseurl }}/assets/images/AllRisx-edit-yellowX.png"/>
		    </a></h1>
			<nav id="nav">
				<ul>
					{% assign current = pagef.url | downcase | split: '/' %}
					<li {% if page.title == "Home" %}class="current"{% endif %}>
						<a href="{{"/" | prepend: site.baseurl }}">Home</a>
					</li>

					<li {% if page.categories == "Products" %}class="current"{% endif %}>
						<a href="">Products</a>
						<ul>
							{% for prod in site.data.navigation.prods %}
							<li>
								<a href="{{"/products/" | prepend: site.baseurl }}{{ prod.link }}">
								{{ prod.text }}</a>
							</li>										    
							{% endfor %}
						</ul>
					</li>
					<li {% if page.categories == "Features" %}class="current"{% endif %}>
						<a href="">Features</a>
						<ul class="two-columns">
							{% for feat in site.data.navigation.feats %}
							<li>
								<a href="{{"/features/" | prepend: site.baseurl }}{{ feat.link }}">
								{{ feat.text }}</a>
							</li>										    
							{% endfor %}
						</ul>
					</li>
					<li {% if page.categories == "Technologies" %}class="current"{% endif %}>
						<a href="">Technologies</a>
						<ul class="three-columns">
							{% for techno in site.data.navigation.technos %}
							<li>
								<a href="{{"/technologies/" | prepend: site.baseurl }}{{ techno.link }}">
								{{ techno.text }}</a>
							</li>										    
							{% endfor %}									
						</ul>
					</li>
					<li {% if page.title == 'Blog' %}class="current"{% endif %}>
						<a href="{{ site.baseurl }}/blog/">Blog</a>
					</li>
					<li {% if page.title == "Pricing" %}class="current"{% endif %}>
						<a href="{{"/pricing.html" | prepend: site.baseurl }}">Pricing</a>
					</li>
					<li>
						<a href="http://arx-prd-liv-rel-adf-wbs-all-pri-grn-fap.azurewebsites.net/wbs/Start" target="_blank">SignUp</a>
					</li>
					<li>
						<a href="">SignIn</a>
					</li>
				</ul>
			</nav>
		</div>			