<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="#" class="image left"><img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" /></a>
						<div class="inner">
							<h3 class="custom-margin-bottom">Individuals</h3>
							<p>Use AllRisX for yourself, your family and friends. Get the best quotes available and start to earn money by using AllRisX !<br>More info...</p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="#" class="image left"><img src="{{ site.baseurl }}/assets/images/pic02.jpg" alt="" /></a>
						<div class="inner">
							<h3 class="custom-margin-bottom">Corporations</h3>
							<p>Keep an eye on all your risks and insurance solutions and cooperate with brokers, agencies and insurance providers.<br>More info...</p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="#" class="image left"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" alt="" /></a>
						<div class="inner">
							<h3 class="custom-margin-bottom">Agencies and Brokers</h3>
							<p>Find new clients, offer them a state of the art insurance portal, premium calculators and forms and keep track of all their insurance data.<br>More info...</p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="#" class="image left"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt="" /></a>
						<div class="inner">
							<h3 class="custom-margin-bottom">Insurance Companies</h3>
							<p>Provide quote calculators, deliver insurance data to your own sales staff or your agencies and brokers.<br>More info...</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>