{% include header.html %}
{% include nav-breadcrumbs.html %}
<!-- Main -->
	<section class="wrapper style1 wrapper-content">
		<div class="container">

			<!-- Blog -->
				<section>
					<header class="major">
						<h2 class="content-title">{{ page.title }}</h2>
						<p>{{ page.intro }}</p>
					</header>
					<div class="row">
						<div class="8u -2u">
							<section class="box">
								<a href="#" class="image left"><img src="{{ site.baseurl }}{{ page.featured }}" alt="" /></a>
								{{ page.content }}
							</section>
						</div>
					</div>
				</section>

		</div>
	</section>
{% include cta.html %}
{% include footer.html %}