{% include header.html %}
{% include nav-breadcrumbs.html %}
<!-- Main -->
	<section class="wrapper style1 wrapper-custom-top-padding">
		<div class="container">

			<!-- Blog -->
				<section>
					<header class="major">
						<h2 class="border-bottom">{{ page.title }}</h2>								
					</header>
					<div class="row">
						<div class="8u -2u">
							<section class="box">								
								{{ page.content }}
							</section>
						</div>
					</div>
				</section>

		</div>
	</section>
{% include footer.html %}